.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  box-sizing: border-box;

  &-menu {
    display: grid;
    margin: 0;
    padding: 0;
  }

  &-close {
    margin-top: auto;
    width: 100%;
    display: grid;
  }
}


