<div class="country" *ngIf="(countryCases$ | async) as cases">
  <h1>{{countryName}}</h1>
  <h3>population: {{cases.All.population | number}}</h3>

  <div class="country-wrapper">

    <app-page-country-list
      [typeOfCase]="typeOfCase"
      [confirmed]="cases.All.confirmed"
      [deaths]="cases.All.deaths"
      [recovered]="cases.All.recovered"
      (onSelectionChange)="onSelected($event)">
    </app-page-country-list>

    <apx-chart
      *ngIf="series"
      [series]="series"
      [chart]="chart"
      [dataLabels]="dataLabels"
      [markers]="markers"
      [title]="title"
      [fill]="fill"
      [yaxis]="yaxis"
      [xaxis]="xaxis"
      [tooltip]="tooltip"
      [autoUpdateSeries]="true">
    </apx-chart>

  </div>

</div>


