<div class="header" #header>
  <app-header></app-header>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
</div>

<mat-drawer-container class="drawer-container" [style.height]="headerHeight">
  <mat-drawer class="drawer" mode="side" [opened]="(drawerState$ | async).isActive">Drawer content</mat-drawer>
  <mat-drawer-content class="drawer-content">
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>

