.country {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
  }

  &-item {
    padding: 20px;
    border: 1px solid #dedede
  }
}
